# Dotfiles version control
alias gdot="git --git-dir=$HOME/.dotfiles/.git --work-tree=$HOME"

# Git
alias gaa="git add ."
alias gcm="git commit -m"
alias gpo="git push origin"
alias gs="git stash"
alias gsp="git stash pop"
alias gsl="git stash list"
alias gr="git remote -v"
alias gcb="git checkout -b"
alias gmaster="git checkout master && git pull origin master && git remote update && git fetch"
alias gmain="git checkout main && git pull origin main && git remote update && git fetch"
alias gdev="git checkout dev && git pull origin dev && git remote update && git fetch"
alias gprunebranchesmaster="git for-each-ref --format '%(refname:short)' refs/heads | grep -v master | xargs git branch -D"
alias gprunebranchesmain="git for-each-ref --format '%(refname:short)' refs/heads | grep -v main | xargs git branch -D"
alias gprunebranchesdev="git for-each-ref --format '%(refname:short)' refs/heads | grep -v dev | xargs git branch -D"
alias gback="git checkout -"

# Docker
alias dup="docker compose up -d"
alias ddown="docker compose down -v"

# Navigation
mkcdir() {
    mkdir -p -- "$1" &&
    cd -P -- "$1"
}
alias cpwd="pwd | pbcopy"
alias fd="cd ~ && cd \$(find workspace -path \"*\/.*\" -prune -o -name node_modules -prune -o -type d -print | fzf)"
alias vd="fd && vim ."

# Vim
alias vim="nvim"
alias vi="nvim"

# Tmux
alias tat="tmux attach -t"
alias tls="tmux ls"
alias tns="tmux new-session -t"

# Tools
alias top="htop"
alias cat="bat"
